{% extends "base.html" %}

{% block title %}Browse the Catalogue{% endblock %}

{% block content %}
<form action="{% url 'browse' %}" method="GET">
<div class="row mt-5">
  <div class="col">


    <div class="btn-group">
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu px-3" aria-labelledby="sortButton">
          <div class="container">
            <div class="row align-items-start" style="width: 350px;">
              <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" value="star__superwasp_id" id="sort_swasp_id" {% if sort == 'star__superwasp_id' %}checked{% endif %}>
              <label class="form-check-label" for="sort_swasp_id">
                SuperWASP ID
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" value="period_length" id="sort_period" {% if sort == 'period_length' %}checked{% endif %}>
              <label class="form-check-label" for="sort_period">
                Period
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sort" value="classification" id="sort_classification" {% if sort == 'classification' %}checked{% endif %}>
              <label class="form-check-label" for="sort_classification">
                Classification
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="order" value="asc" id="order_asc" {% if order == 'asc' %}checked{% endif %}>
              <label class="form-check-label" for="order_asc">
                Ascending
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="order" value="desc" id="order_desc" {% if order == 'desc' %}checked{% endif %}>
              <label class="form-check-label" for="order_desc">
                Descending
              </label>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="magnitudeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Magnitude
        </button>
        <div class="dropdown-menu px-3" aria-labelledby="magnitudeButton">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="mag-min-label">Min</span>
            </div>
            <input type="text" name="min_mag" class="form-control" placeholder="" aria-label="Minimum magnitude" aria-describedby="mag-min-label" disabled>
          </div>    
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="mag-max-label">Max</span>
            </div>
            <input type="text" name="max_mag" class="form-control" placeholder="" aria-label="Maximum magnitude" aria-describedby="mag-max-label" disabled>
          </div> 
        </div>
        </div>
        <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="periodButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Period
        </button>
        <div class="dropdown-menu px-3" aria-labelledby="periodButton">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="period-min-label">Min</span>
            </div>
            <input type="text" name="min_period" class="form-control" placeholder="" value="{% if min_period %}{{ min_period }}{% endif %}" aria-label="Minimum period" aria-describedby="period-min-label">
          </div>    
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="period-max-label">Max</span>
            </div>
            <input type="text" name="max_period" class="form-control" placeholder="" value="{% if max_period %}{{ max_period }}{% endif %}" aria-label="Maximum period" aria-describedby="period-max-label">
          </div> 
        </div>
        </div>
        <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="typeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Variable type
        </button>
        <div class="dropdown-menu px-3" aria-labelledby="typeButton">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="type_pulsator" id="type_pulsator" {% if type_pulsator %}checked {% endif %}>
            <label class="form-check-label" for="type_pulsator">
              Pulsator
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="type_rotator" id="type_rotator" {% if type_rotator %}checked {% endif %}>
            <label class="form-check-label" for="type_rotator">
              Rotator
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="type_eaeb" id="type_eaeb" {% if type_eaeb %}checked {% endif %}>
            <label class="form-check-label" for="type_eaeb">
              EA/EB
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="type_ew"  id="type_ew" {% if type_ew %}checked {% endif %}>
            <label class="form-check-label" for="type_ew">
              EW
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="type_unknown" id="type_unknown" {% if type_unknown %}checked {% endif %}>
            <label class="form-check-label" for="type_unknown">
              Unknown
            </label>
          </div>
        </div>
        </div>
        <input type="submit" value="Apply" class="btn btn-secondary">
    </div>
  </div>
</form>

  {% include "starcatalogue/pagination.html" %}

    <div class="modal fade" id="lightcurveModal" tabindex="-1" aria-labelledby="lightcurveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="lightcurveModalLabel">Lightcurve</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><img src="#" alt="" style="width: 100%; height: auto;"></p>
            </div>
          </div>
        </div>
      </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">SuperWASP ID</th>
                <th scope="col">Period (seconds)</th>
                <th scope="col">RA</th>
                <th scope="col">Dec</th>
                <th scope="col">Classification</th>
                <th scope="col">Zooniverse Talk</th>
                <th scope="col">Lightcurve</th>
            </tr>
        </thead>
        <tbody>
          {% for lightcurve in object_list %}
            <tr>
                <td><a href="{% url 'browse' %}?search={{ lightcurve.star.superwasp_id|urlencode }}">{{ lightcurve.star.superwasp_id }}</a></td>
                <td>{{ lightcurve.period_length }} (~{{ lightcurve.natural_period }})</td>
                <td>{{ lightcurve.star.ra }}</td>
                <td>{{ lightcurve.star.dec }}</td>
                <td>{{ lightcurve.get_classification_display }}</td>
                <td><a href="https://www.zooniverse.org/projects/ajnorton/superwasp-variable-stars/talk/subjects/{{ lightcurve.zooniversesubject.zooniverse_id }}">View on Talk</a></td>
                <td>{% if lightcurve.zooniversesubject.image_location %}<a href="#" data-toggle="modal" data-target="#lightcurveModal" data-url="{{ lightcurve.zooniversesubject.image_location }}" data-superwasp-id="{{ star.superwasp_id }}"><img src="{{ lightcurve.zooniversesubject.thumbnail_location }}" alt="" style="width: 100px; height: auto;"></a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "starcatalogue/pagination.html" %}

    <div class="jumbotron">
        <h2 class="display-4">Acknowledgements</h2>

        <p class="lead">The SuperWASP project is currently funded and operated by Warwick University and Keele University, and was originally set up by Queen’s University Belfast, the Universities of Keele, St. Andrews and Leicester, the Open University, the Isaac Newton Group, the Instituto de Astrofisica de Canarias, the South African Astronomical Observatory and by STFC.</p>

        <p class="lead">The Zooniverse project on SuperWASP Variable Stars is led by Andrew Norton (The Open University) and builds on work he has done with his former postgraduate students Les Thomas, Stan Payne, Marcus Lohr and Paul Greer, and current postgraduate students Heidi Thiemann & Adam McMaster.</p>

        <p class="lead">The Zooniverse project on SuperWASP Variable Stars was developed with the help of the ASTERICS Horizon2020 project. ASTERICS is supported by the European Commission Framework Programme Horizon 2020 Research and Innovation action under grant agreement n.653477</p>
    </div>

{% endblock %}

{% block bodyEnd %}
<script type="text/javascript">
$('#lightcurveModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var url = button.data('url') // Extract info from data-* attributes
    var superwasp_id = button.data('superwasp-id')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('Lightcurve for ' + superwasp_id)
    modal.find('.modal-body img').attr('src', url)
  })
</script>
{% endblock %}