{% extends "base.html" %}
{% load starcatalogue_tags %} 

{% block title %}Browse the Catalogue{% endblock %}

{% block content %}
<div class="row mt-5">
  <form action="{% url 'browse' %}" method="GET" id="filter_form">
    <div class="col">
      <div class="btn-group filterBar">
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="searchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
          </button>
          <div class="dropdown-menu px-3" aria-labelledby="searchButton">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search-label">Object name or coordinates</span>
              </div>
              <input type="text" name="search" class="form-control" placeholder="e.g. &quot;RR Lyrae&quot; or &quot;19h25m27s +42d47m03s&quot;" value="{% if search %}{{ search }}{% endif %}" aria-label="Object name or coordinates" aria-describedby="search-label" data-toggle="tooltip" data-placement="right" title="Enter any object name/ID or coordinates in any format">
            </div>    
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="radius-label">Radius (degrees)</span>
              </div>
              <input type="text" name="search_radius" class="form-control" placeholder="0.1" value="{% if search_radius %}{{ search_radius }}{% endif %}" aria-label="Radius (degrees)" aria-describedby="radius-label">
            </div> 
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
          </button>
          <div class="dropdown-menu px-3" aria-labelledby="sortButton">
            <div class="container">
              <div class="row align-items-start" style="width: 450px;">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="distance" id="sort_distance" {% if sort == 'distance' %}checked{% endif %}>
                    <label class="form-check-label" for="sort_distance">
                      Radial Distance
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="star__superwasp_id" id="sort_swasp_id" {% if sort == 'star__superwasp_id' %}checked{% endif %}>
                    <label class="form-check-label" for="sort_swasp_id">
                      SuperWASP ID
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="star___mean_magnitude" id="sort_mean_magnitude" {% if sort == 'star___mean_magnitude' %}checked{% endif %}>
                    <label class="form-check-label" for="sort_mean_magnitude">
                      Mean magnitude
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="period_length" id="sort_period" {% if sort == 'period_length' %}checked{% endif %}>
                    <label class="form-check-label" for="sort_period">
                      Period
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="classification" id="sort_classification" {% if sort == 'classification' %}checked{% endif %}>
                    <label class="form-check-label" for="sort_classification">
                      Majority Classification
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="order" value="asc" id="order_asc" {% if order == 'asc' %}checked{% endif %}>
                    <label class="form-check-label" for="order_asc">
                      Ascending
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="order" value="desc" id="order_desc" {% if order == 'desc' %}checked{% endif %}>
                    <label class="form-check-label" for="order_desc">
                      Descending
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="magnitudeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Magnitude
          </button>
          <div class="dropdown-menu px-3" aria-labelledby="magnitudeButton" style="width: 200px;">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="mag-min-label">Min</span>
              </div>
              <input type="text" name="min_magnitude" class="form-control" placeholder="" value="{% if min_magnitude %}{{ min_magnitude }}{% endif %}" aria-label="Minimum magnitude" aria-describedby="mag-min-label">
            </div>    
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="mag-max-label">Max</span>
              </div>
              <input type="text" name="max_magnitude" class="form-control" placeholder="" value="{% if max_magnitude %}{{ max_magnitude }}{% endif %}" aria-label="Maximum magnitude" aria-describedby="mag-max-label">
            </div> 

                        
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="mag-amp-label">Amplitude</span>
              </div>
              <input type="text" name="max_mag" class="form-control" placeholder="" value="{% if mag_amplitude %}{{ mag_amplitude }}{% endif %}" aria-label="Amplitude" aria-describedby="mag-amp-label" disabled>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="periodButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Period
          </button>
          <div class="dropdown-menu px-3" aria-labelledby="periodButton">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="period-min-label">Min</span>
              </div>
              <input type="text" name="min_period" class="form-control" placeholder="" value="{% if min_period %}{{ min_period }}{% endif %}" aria-label="Minimum period" aria-describedby="period-min-label">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="period-max-label">Max</span>
              </div>
              <input type="text" name="max_period" class="form-control" placeholder="" value="{% if max_period %}{{ max_period }}{% endif %}" aria-label="Maximum period" aria-describedby="period-max-label">
            </div> 
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="certain_period" id="certain_period" {% if certain_period == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="certain_period">
                Certain
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="uncertain_period" id="uncertain_period" {% if uncertain_period == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="uncertain_period">
                Uncertain
              </label>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="typeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Variable type
          </button>
          <div class="dropdown-menu px-3" aria-labelledby="typeButton">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="type_pulsator" id="type_pulsator" {% if type_pulsator == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="type_pulsator">
                Pulsator
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="type_rotator" id="type_rotator" {% if type_rotator == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="type_rotator">
                Rotator
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="type_eaeb" id="type_eaeb" {% if type_eaeb == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="type_eaeb">
                EA/EB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="type_ew"  id="type_ew" {% if type_ew == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="type_ew">
                EW
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="type_unknown" id="type_unknown" {% if type_unknown == 'on' %}checked {% endif %}>
              <label class="form-check-label" for="type_unknown">
                Unknown
              </label>
            </div>
          </div>
        </div>
        <input type="submit" value="Apply" class="btn btn-secondary">
      </div>
    </div>
  </form>

  <form action="{% url 'generate_export' %}" method="POST" id="export_form">
    {% csrf_token %}
    <input type="hidden" name="min_period" value="{% if min_period %}{{ min_period }}{% endif %}">
    <input type="hidden" name="max_period" value="{% if max_period %}{{ max_period }}{% endif %}">
    <input type="hidden" name="min_magnitude" value="{% if min_magnitude %}{{ min_magnitude }}{% endif %}">
    <input type="hidden" name="max_magnitude" value="{% if max_magnitude %}{{ max_magnitude }}{% endif %}">
    <input type="hidden" name="certain_period" value="{% if certain_period %}{{ certain_period }}{% endif %}">
    <input type="hidden" name="uncertain_period" value="{% if uncertain_period %}{{ uncertain_period }}{% endif %}">
    <input type="hidden" name="type_pulsator" value="{% if type_pulsator %}{{ type_pulsator }}{% endif %}">
    <input type="hidden" name="type_eaeb" value="{% if type_eaeb %}{{ type_eaeb }}{% endif %}">
    <input type="hidden" name="type_ew" value="{% if type_ew %}{{ type_ew }}{% endif %}">
    <input type="hidden" name="type_rotator" value="{% if type_rotator %}{{ type_rotator }}{% endif %}">
    <input type="hidden" name="type_unknown" value="{% if type_unknown %}{{ type_unknown }}{% endif %}">
    <input type="hidden" name="search" value="{% if search %}{{ search }}{% endif %}">
    <input type="hidden" name="search_radius" value="{% if search_radius %}{{ search_radius }}{% endif %}">
    <div class="col">
      <input type="submit" value="Export as CSV" class="btn btn-secondary">
    </div>
  </form>
  <div class="col pt-2">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="compactSwitch">
      <label class="custom-control-label" for="compactSwitch">Compact view</label>
    </div>
  </div>
</div>

<div class="row mt-2">
  {% include "starcatalogue/pagination.html" %}
</div>
  {% if object_list %}
  <table class="table table-striped d-none" id="compactView">
    <thead>
        <tr>
            <th scope="col">SuperWASP ID</th>
            <th scope="col">Mean Magnitude</th>
            <th scope="col">Period (seconds)</th>
            <th scope="col">Majority Classification</th>
            <th scope="col">Folding flag</th>
            <th scope="col">RA</th>
            <th scope="col">Dec</th>
            <th scope="col">Lightcurve</th>
        </tr>
    </thead>
    <tbody>
      {% for lightcurve in object_list %}
        <tr>
            <td><a href="{% url 'view_source' lightcurve.star.superwasp_id %}">{{ lightcurve.star.superwasp_id }}</a></td>
            <td>{{ lightcurve.star.mean_magnitude|floatformat:2 }}</td>
            <td>{{ lightcurve.period_length }}<br>~{{ lightcurve.natural_period }}</td>
            <td>{{ lightcurve.get_classification_display }}</td>
            <td>{{ lightcurve.get_period_uncertainty_display }}</td>
            <td>{{ lightcurve.star.ra }}</td>
            <td>{{ lightcurve.star.dec }}</td>
            <td><a href="{% url 'view_source' lightcurve.star.superwasp_id %}#lightcurve-{{ lightcurve.pk }}"><img src="{{ lightcurve.thumbnail_location }}" alt="" style="width: 100px; height: auto;"></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <div class="list-group mb-5" id="expandedView">
      {% for lightcurve in object_list %}
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><a href="{% url 'view_source' lightcurve.star.superwasp_id %}">{{ lightcurve.star.superwasp_id }}</a></h5>
          <small>{{ lightcurve.period_length }} second period, ~{{ lightcurve.natural_period }}</small>
        </div>
        <small>{{ lightcurve.star.ra }} {{ lightcurve.star.dec }}</small>
        <div class="row mt-3">
          <div class="col">
            <table class="table">
              <tr>
                <th scope="row">Mean magnitude</th>
                <td>{{ lightcurve.star.mean_magnitude|floatformat:2 }}</td>
              </tr>
              <tr>
                <th scope="row">Folding flag</th>
                <td>{{ lightcurve.get_period_uncertainty_display }}</td>
              </tr>
              <tr>
                <th scope="row">Classification count</th>
                <td>{{ lightcurve.classification_count }}</td>
              </tr>
              {% if search %}<tr>
                <th scope="row">Distance from search</th>
                <td>{% degrees lightcurve.distance %}</td>
              </tr>{% endif %}
            </table>
          </div>
          <div class="col">
            <div class="card shadow-sm mb-4 float-right" style="max-width: 300px;">
              <a href="{% url 'view_source' lightcurve.star.superwasp_id %}#lightcurve-{{ lightcurve.pk }}"><img src="{{ lightcurve.image_location }}" class="card-img-top"></a>
              <div class="card-body">
                <p class="card-text">{{ lightcurve.get_classification_display }}, {{ lightcurve.natural_period }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="row mt-3">
      <div class="col text-center">
        <h2>No results found</h2>
        <p><i class="bi bi-search" style="font-size: xxx-large;"></i></p>
        <p class="lead">There were no results{% if search %} for <strong>&quot;{{ search }}&quot;</strong>{% endif %}.</p>
        <p>Please try another search or choose less specific filtering options.</p>
      </div>

    </div>
  {% endif %}
  <div class="row mt-2">
    {% include "starcatalogue/pagination.html" %}
  </div>

{% endblock %}

{% block headEnd %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}

{% block bodyEnd %}
<script type="text/javascript">
// Stop the dropdowns closing when you click inside them
$(document).on('click', '.filterBar .dropdown-menu', function (e) {
  e.stopPropagation();
});

// Keep the export form in sync with the filtering form
// So the user doesn't need to hit "apply" before exporting
$('#export_form input').each(function (){
  if (this.type == 'hidden') {
    $(`#filter_form input[name='${this.name}']`).on('input', function() {
      if(this.type == 'text') {
        $(`#export_form input[name='${this.name}']`).val($(this).val());
      } else if (this.type == 'checkbox') {
        if ($(this).checked) {
          $(`#export_form input[name='${this.name}']`).val('on');
        } else {
          $(`#export_form input[name='${this.name}']`).val('off');
        }
      }
    })
  }
});

// Toggling between views
$(`#compactSwitch`).on('change.bootstrapSwitch', function(e) {
  Cookies.set('compactView', e.target.checked);
  if (e.target.checked) {
    $(`#expandedView`).addClass('d-none');
    $(`#compactView`).removeClass('d-none');
  } else {
    $(`#compactView`).addClass('d-none');
    $(`#expandedView`).removeClass('d-none');
  }
})

$(document).ready(function() {
  if (Cookies.get('compactView') == 'true') {
    $(`#compactSwitch`).click();
  }
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}