{% extends "base.html" %}

{% block pagetitle %}SuperWASP{% endblock %}
{% block title %}Welcome to the WASP website{% endblock %}

{% block content %}

   <p>SuperWASP is the UK's leading extra-solar planet detection programme. It originally comprised a consortium of 
    eight academic institutions: Cambridge University, the Instituto de Astrofisica de Canarias, the Isaac Newton Group 
    of telescopes, Keele University, Leicester University, the Open University, Queen's University Belfast and 
    St. Andrews University. The WASP project is currently funded and operated by Warwick University and Keele University.</p>

    <p>SuperWASP consists of two robotic observatories that operate continuously all year around, allowing us to cover both 
    hemispheres of the sky. The first, SuperWASP-North is located on the island of La Palma amongst the Isaac Newton Group of 
    telescopes (<a href="http://www.ing.iac.es/">ING</a>). The second, <a href="waspsouth.htm">SuperWASP-South</a> is located 
    at the site of the South African Astronomical Observatory (<a href="http://www.saao.ac.za/">SAAO</a>), just outside 
    Sutherland, South Africa (Click on the <a href=map.htm>map</a> for more information). The observatories each consist of 
    eight wide-angle cameras that simultaneously monitor the sky for planetary transit events. A transit occurs when a planet 
    passes in front of its parent star temporarily blocking some of the light from it (see the <a href="how.htm">How it works</a> 
    section). The eight wide-angle cameras allow us to monitor millions of stars simultaneously enabling us to detect the rare 
    transit events. Details of the planets discovered by the WASP project can be found <a href=wasp_planets.htm>here</a>.</p>

   <p>Please take the time to explore our site and check back regularly for updates. If you have any questions please 
   feel free to contact us at the address below.</p>

   <p><strong>SuperWASP Public Archive can be found <a href="http://exoplanetarchive.ipac.caltech.edu/docs/SuperWASPMission.html">here (US)</a> or <a href="http://wasp.cerit-sc.cz/">here (CZ)</a></strong></p>

    <p><strong>A catalogue of the physical properties of transiting planetary systems <a href="http://www.astro.keele.ac.uk/~jkt/tepcat/">TEPCat</a></strong></p>

{% endblock %}