{% extends "browse.html" %}

{% block title %}The SuperWASP Catalogue of Variable Stars{% endblock %}

{% block content %}

<p class="lead">This interface makes available SuperWASP lightcurves for periodic variable stars that have been classified by Citizen Scientists using the <a href="https://www.zooniverse.org/projects/ajnorton/superwasp-variable-stars">SuperWASP Variable Stars Zooniverse project</a>. It will be updated with new classification results every 6 months. Last update on dd-mm-yyyy.</p>

<h2>Browse the Catalogue</h2>

{{ block.super }}

{% endblock %}